.skills_section {
    min-height: 85vh;
    padding: 15vh 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill_box {
	margin: 1rem 0.5rem 0;
	border-radius: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
    background: var(--cardColor);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	height: 7rem;
	width: 7rem;
}

.skill_box a {
    display: flex;
	justify-content: center;
	align-items: center;
}

.skill_icon {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

.tooltip {
    position: relative;
    border-bottom: 1px black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin: 10rem 0 0 0;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    font-size: medium;
}

@media only screen and (max-width: 600px) {
    .skills_section {
        height: 100%;
        padding: 5rem 0 10vh 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .skills_section {
        min-height: 90vh;
        padding: 5rem 5% 0 5%;
    }
}
