@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap");


body {
  margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  
    font-family: 'Poppins' !important;

  background: var(--backgroundColor);
  color: var(--textColor);
}

* {
  font-family: 'Poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light_theme {
  --backgroundColor: #a9dce3;
  --navbarColor: #d2d7da;  
  --cardColor: radial-gradient(79.69% 102.24% at 100% 100.11%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(89.7% 115.09% at 3.43% 2.75%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), #99eedf;
  --textColor: black;
  --brandColor: #183266;
}

.dark_theme {
  --backgroundColor: #121212;  
  --navbarColor: #475157;
  --cardColor: radial-gradient(79.69% 102.24% at 100% 100.11%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(89.7% 115.09% at 3.43% 2.75%, rgba(50, 50, 50, 0.7), rgba(100, 100, 100, 0.5)), #a3a3a3;  
  --textColor: white;
  --brandColor: #f16eb6;
}
